
*{
    margin:0;
    padding:0;
}
.mobileHeader{
    background-color: #444;
}

.mobilelogo{
    width:200px;
}

.m_article_info{
    color:#000;
}
.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
  }
  .mobile_title{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
  .mobile_article_extra{
      position: relative;
  }
  .mobile_last_reply_at{
      position: absolute;
      right:-10px;
  }

  .mobile_user_avatar img{
      width:40px;
      height:40px;
      border-radius: 20px;
    text-align:center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -20px; /* 宽度的一半 */
  }
  .mobileIcon{
      height: 80px;
      width: 80px;
      font-size: 16;
  }