*{
    margin:0;
    padding:0;
}
body{
    font-size: 14px;
    background-color: #e1e1e1;
}
.pcHeader{
    background-color: #444444;
    height:55px;
}
.pcHeader .brand{
    width:120px;
    height: 28px;
    display: block;
    /* float: left; */
}
.panel_header{
    padding:10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.panel_header li{
    list-style-type: none;
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    /* border-left:0.05rem solid #ccc; */
}
img{
    width:auto;
    height:auto;
    max-width:100%;
    vertical-align: middle;
    border:0;
}
.header_search{
    width:200px;
}
.topic-tab{
    margin:0 10px;
    color:#80bd01;
}
.user_avatar img {
    widows: 30px;
    height: 30px;
    border-radius: 3px;
}
.put_good,.put_top{
    background:#80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    color:#fff;
    font-size: 12px;
}
.topiclist-tab{
    background-color: #e5e5e5;
    color:#999;
    padding:2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
}
.count_of_replies{
    color:#9e78c0;
}
.count_of_visits{
    font-size: 10px;
    color: #b4b4b4;
}

.topic_title_wrapper{
    white-space: nowrap;
}
a.topic_title3{
    max-width: 70%;
    white-space: nowrap;
    font-size: 16px;
    line-height: 30px;
}
.user_small_avatar img{
    height:18px;
    width: 18px;
    /* vertical-align: middle; */
    /* margin-right: .5em; */
    /* border-radius: 3px; */
}
.friendship-community img{
    width:150px;
}
/* .friendship-community> li :not(:first-child){
    margin-top: 10px;
} */
.friendship-community> li + li {
    margin-top: 10px;
}
.mtp10{
    margin-top: 10px;
}
.cnode-app-download img{
    width:200px;
}
.footer .col_fade {
    color:#ababab;
}
.footer .col_fade p{
    line-height:20px;
    vertical-align: bottom;
}
.footerPanel{
    height:150px;
}
.markdown-text>:first-child,.preview>:first-child{
    margin-top:0;
}
.markdown-text h2{
    font-size:26px;
}
.markdown-text p{
    font-size:15px;
    line-height: 1.7em;
    overflow: auto;
}
.markdown-text strong{
    font-weight: 700;
}
.topic_full_title{
    font-size: 22px;
    font-weight: 700;
    margin:8px 0;
    display: inline-block;
    vertical-align: bottom;
    width:75%;
    line-height: 130%;
}
.cell{
    position: relative;
    padding:10px 0 10px 10px;
    font-size: 14px;
    padding-right: 10px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
}
.author_content .user_avatar{
    display: inline-block;
    float:left;
}
a{
    color:#08c;
    text-decoration: none;
}
.user_info{
    margin-left: 10px;
    display: inline-block;
}
.reply_time{
    font-size:11px;
}
.reply_by_author{
    color:#fff;
    background-color: #6ba44e;
    padding:2px;
    font-size: 12px;
}
.user_action{
    font:right;
    margin-left: 20px;
    font-size: 15px;
}
.fa{
    font:normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;

}
.fa .fa-stack{
    display: inline-block;
}
.up_btn{
    cursor:pointer;
    opacity: .4;
}
ul.unstyled{
    margin-left: 0;
    list-style: none;
}
.topic_title2{
    max-width:270px;
    font-size: 14px;
}
.last_time{
    font-size: 11px;
    display: inline-block;
    margin-left: 20px;
    color:#777;
}
.last_time .last_active_time{
    text-align: right;
    min-width: 50px;
    display: inline-block;
    white-space: normal;
}
.pull-right{
    float:right;
}
.pull-left{
    float:left;
}